extends ../layout/auth-layout
block content
  #page-wrapper
    .container-fluid
      .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
          h4.page-title Categories
        .row
          .col-sm-12
            .white-box
              //- h3.box-title Basic Table
              p.text-muted
                #add-popup.popup
                  // Modal content
                  .popup-content
                    span.popupclose(onclick='closePopupAdd();') &times;
                    h3 Add Category
                    form(method='post' action='../category/store')
                      .col-md-12
                        label
                          | Name 
                          span.required *
                        input(type='text' name='name' required)
                      .col-md-12
                        input.btn.btn-success(type='submit' value='Submit')
                    .clearfix
                  .clearfix
                input.btn.btn-danger(type='button' value='Add Category' onclick='openPopupAdd();')

              .table-responsive
                table.table
                  thead
                    tr
                      th ID
                      th Category Name
                      th(width='10px')
                      th(width='10px')
                  tbody
                  each category in listCategories
                    tr
                      td #{category._id}
                      td #{category.name}
                      td
                        #update-popup.popup
                          // Modal content
                          .popup-content
                            span.popupclose(onclick='closePopupUpdate();') &times;
                            h3 Update Category
                            form(method='post' action='../category/update')
                              .col-md-12
                                label
                                  | Name 
                                  span.required *                                  
                                input(type='text' name='_id' value=category._id hidden )
                                input(type='text' name='name' value=category.name required)
                              .col-md-12
                                input.btn.btn-success(type='submit' value='Submit')
                            .clearfix
                          .clearfix
                        input.btn.btn-primary(type='button' value='Update' onclick='openPopupUpdate();')
                      td
                        form(method='post' action='../category/delete')
                          .col-md-12                              
                            input(type='text' name='_id' value=category._id hidden )
                          .col-md-12
                            input.btn.btn-primary(type='submit' value='Delete' onclick='deleteChoice();')