extends ../layout/auth-layout
block content
  #page-wrapper
    .container-fluid
      .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
          h4.page-title Products
        .row
          .col-sm-12
            .white-box
              //- h3.box-title Basic Table
              p.text-muted 
                #add-popup.popup
                  // Modal content
                  .popup-content
                    span.popupclose(onclick='closePopupAdd();') &times;
                    h3 Add Product
                    form(method='post' action='#')
                      .col-md-12
                        label
                          | Name 
                          span.required *
                        input(type='text' name='name' required)
                      .col-md-12
                        label
                          | Category
                          span.required *
                        select.box(name="category")
                          each category in listCategories
                            option(value=category._id) #{category.name}
                      .col-md-4
                        label
                          | Color
                          span.required *
                        select.box(name="size")
                          each color in listColors
                            option(value=color._id) #{color.name}
                      .col-md-4
                        label
                          | Size
                          span.required *
                        select.box(name="size")
                          each size in listSizes
                            option(value=size._id) #{size.name}
                      .col-md-4
                        label
                          | Quantity
                          span.required *
                        input(type='number' name='quantity' min='0' required)
                      .col-md-12
                        label
                          | Price
                          span.required *
                        input(type='number' name='price' min='0' required)
                      .col-md-12
                        label
                          | Image
                          span.required *
                        input(type="file" name="image" required)
                      .col-md-12
                        input.btn.btn-success(type='submit' value='Submit')
                    .clearfix
                  .clearfix
                input.btn.btn-danger(type='button' value='Add Product' onclick='openPopupAdd();')

              .table-responsive
                ul.nav.navbar-top-links
                  li
                    a.nav-toggler.open-close.waves-effect.waves-light.hidden-md.hidden-lg(href='javascript:void(0)')
                      i.fa.fa-bars
                  li
                    form.app-search.hidden-sm.hidden-xs.m-r-10(role='search')
                      input.form-control(type='text' placeholder='Search...')
                      a(href='')
                        i.fa.fa-search(style='color:#ffffff')
                table.table
                  thead
                    tr
                      th ID
                      th Product Name
                      th Category
                      th Price
                      th Detail
                      th(width='10px')
                      th(width='10px')
                  tbody
                    tr
                      td a
                      td b
                      td c
                      td d
                      td e
                      td
                        //- a.btn.btn-primary(href='../size/edit/'+size._id) Update
                        a.btn.btn-primary(href='../size/edit/') Update
                      td
                        //- form(method='post' action='../size/delete/'+size._id)
                        form(method='post' action='../size/delete/')
                          .col-md-12
                            input.btn.btn-primary(type='submit' value='Delete' onclick='deleteChoice();')                        